.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

.bg {
  inset: 0px;
  position: absolute;
  z-index: -1;
  background: radial-gradient(circle at top left, hsl(252 91.5% 95.5%), rgba(255, 255, 255, 0) 15%), radial-gradient(circle at 80% 20%, hsl(186 63.8% 90.6%), rgba(255, 255, 255, 0) 15%);
  box-sizing: border-box
}

.header {
  display: flex;
  width: 100%;
  padding-right: 5vw;
  padding-left: 5vw;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.logo {
  display: block;
  width: 150px;
  max-width: 150px;
  margin: 20px auto 30px auto;
}

.linkhome {
  display: block;
  width: 100vw;
  height: 25vw;
  padding: 0 30px;
  margin: 0 auto;
  position: relative
}