* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
body {
  background-color: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter, sans-serif';
  font-weight: 400;
}
body, input, textarea, button {
  font-family: 'Inter, sans-serif';
  font-weight: "400";
}
img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
}