.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.bg {
  inset: 0px;
  position: absolute;
  z-index: -1;
  background: radial-gradient(circle at top left, hsl(252 91.5% 95.5%), rgba(255, 255, 255, 0) 15%), radial-gradient(circle at 80% 20%, hsl(186 63.8% 90.6%), rgba(255, 255, 255, 0) 15%);
  box-sizing: border-box
}

.header {
  display: flex;
  width: 100%;
  padding-right: 5vw;
  padding-left: 5vw;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.logo {
  display: block;
  width: 250px;
  max-width: 250px;
  margin: 40px auto 30px auto;
}

.logo img {
  display: block;
  width: 100%;
}

.linkhome {
  display: block;
  width: 100vw;
  height: 25vw;
  padding: 0 30px;
  margin: 0 auto;
  position: relative
}

.main {
  width: 100%;
  text-align: center;

}

.textwrap {
  display: flex;
  max-width: 90vw;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  font-size: 6.0vw;
  line-height: 1.3;
  margin-bottom: 1vw;
  text-align: center;
  margin-top: 0px;
  font-weight: 700;
  letter-spacing: -0.5vw;
}

.h2Title {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 1vw;
  text-align: center;
  margin-top: 0px;
  font-weight: 700;
  letter-spacing: -0.2vw;
}

.topTitle {
  font-size: 15px;
  margin-bottom: 1vw;
  font-weight: 600;
  text-align: center;
}
.textParagraph {
  font-size: 15px;
  letter-spacing: -0.05vw;
  text-align: center;
  margin-bottom: 0px;
    line-height: 1.6;
}

.textspan1 {
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 20px;
  background-color: #E2D0F6;
}

.textspan2 {
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 20px;
  background-color: #B1F8DE
}



.btnBox {
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
  position: relative;
  padding: 0.8rem 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  margin: 10px auto 2px auto;
  background-image: linear-gradient(to right, #00CC83 0%, #059F68 51%, #00CC83 100%);
  border-radius: 100px;
  border: none;
  background-color: #007aff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  text-decoration: none;
  max-width: 450px;
}


.btnBox a {
  width: 100%;
  display: flex;
  align-items: center;
}

.btnBox:hover {
  background-position: right center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-image: linear-gradient(to right, #059F68 0%, #059F68 51%, #059F68 100%);
  transform: translateY(0%);
  opacity: 1;
}

.btnBox span {
  margin: 0 auto;
  color: #fff;
  letter-spacing: -0.5px;
  font-size: 1.6vw;
  display: block;
  text-align: initial;
}

.whats {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 0.5rem !important;
  width: 32px;
  height: 32px;
  flex-shrink: 0 !important;
  fill: currentcolor;
}


.seta {
  position: absolute;
  left: -100px;
  top: -40px;
  width: 80px;
}

.textdesc {
  font-size: 3.1vw;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.2vw;
  color: #059F68;
  margin-bottom: 20px;
}

.textwhats {
  font-size: 1.3vw;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.1vw;
  color: #88888A;
}


.imageWrap {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: start;
}

.fullSize {
  width: 100%;
  border-radius: 12px;

}

.section {
  position: relative;
  padding: 5vw;
}
.sectionTop {
  margin-bottom: 6vw;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.sectionBase{
  border-radius: 12px;
  background-color: #F0F4F7;
  padding: 30px;
}


.footerCopy {
  font-family: Inter;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 12px;
}


.duxgp {
  margin-top: 50;
}

.duxgp p {
  margin-top: 50;
  font-family: Inter;
  font-weight: 400;
  letter-spacing: -1px;
  padding: 0 20px;
  font-size: 12px;
}

.duxgp div img {
  display: inline;
  width: 150px;
}

.duxgplogo {
  display: block;
  margin: 50px auto 30px auto;
  width: 100px;
  max-width: 100px;

}

.useCookesFixe {
  padding: 20px;
  background-color: #C6F6D5;
  max-width: 800px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
  box-shadow: 4px 4px 6px 4px rgb(0 0 0 / 10%), 4px 2px 4px 1px rgb(0 0 0 / 6%);
}

.useCookesFixe a {
  font-size: 12px;

}

.useCookes {

  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.useCookes div {
  margin: 0;
  padding: 0;

}

.useCookesDivIcon {
  width: 20px !important;
  display: inline-block;
}

.useCookesDivText {
  padding: 0 20px;
  display: block;
}

.useCookesIcon {
  width: 20px !important;
}

.useCookesText {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  text-align: start;
  padding: 0;
}

.useCookesTitle {
  font-weight: bold;
  margin-top: 20px;
}

.useCookesButton {

  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}



.testimonial {
  text-align: center;
}

.testimonialTesti {
  cursor: e-resize;
}

.testimonialContent {
  padding: 1.5rem !important;
  border-radius: 0.25rem !important;
  margin: 0.5rem !important;
  position: relative !important;
  -webkit-box-shadow: 0 0 #0000, 0 0 #0000, 0 0 3px rgb(60 72 88 / 0.15) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 3px rgb(60 72 88 / 0.15) !important;
  background-color: #fff;
}

.testimonialContent::before {
  content: "";
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  position: absolute;
  left: 50%;
  bottom: -4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(0, 0) rotate(45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
  transform: translate(0, 0) rotate(45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
  border-width: 8px;
  border-top-color: transparent;
  border-right-color: rgb(255 255 255 / 1);
  border-bottom-color: rgb(255 255 255 / 1);
  border-left-color: transparent;
  -webkit-box-shadow: 0 0 #0000, 0 0 #0000, 2px 2px 2px -1px rgb(60 72 88 / 0.15);
  box-shadow: 0 0 #0000, 0 0 #0000, 2px 2px 2px -1px rgb(60 72 88 / 0.15);
  background: #fff;
  height: 20px;
  width: 20px;
}

.testimonialListNone {
  list-style-type: none !important;
  margin-bottom: 0px !important;
  margin-top: 0.75rem !important;
  list-style: none;
  margin: 0;
  padding: 0;
}

.testimonialInline {
  display: inline !important;
  text-align: -webkit-match-parent;
  list-style: none;
  list-style-type: none !important;
}

.testimonialMdi {
  font-style: italic;
  font-size: inherit;
  line-height: inherit;
}

.testimonialStar {
  font-style: italic;
  font-size: inherit;
  line-height: inherit;
}

.testimonialMdi::before {
  content: url('/aspas-a.svg');
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: rgb(251 191 36 / 1) !important;
}

.testimonialStar::before {
  content: url('/estrela.svg');
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  color: rgb(251 191 36 / 1) !important;
}

.avatarFull {
  border-radius: 9999px !important;
  -webkit-box-shadow: 0 0 #0000, 0 0 #0000, 0 5px 13px rgb(60 72 88 / 0.20) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 5px 13px rgb(60 72 88 / 0.20) !important;
  width: 3.5rem !important;
}

.testimonialUser {
  text-align: center;
  margin-top: 25px;
}

.testimonialTextSemibold {
  font-weight: 600 !important;
  margin-top: 0.5rem !important;
  line-height: 1.5;
  display: block;
  letter-spacing: -0.03vw;
}

.testimonialText {
  color: rgb(148 163 184 / 1) !important;
  text-align: center !important;
  letter-spacing: -0.03vw;

}
.testimonialTextOffice {
  color: rgb(148 163 184 / 1) !important;
  text-align: center !important;
  letter-spacing: -0.03vw;
  font-size: 12px;
}


@media screen and (max-width: 991px) {
  .section {
    padding: 45px 35px;
  }

  .btnBox {
    max-width: 350px;
  }

  .btnBox span {
    font-size: 18px;
  }

  .textwhats {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    letter-spacing: -1px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 30px;
  }

  .btnBox {
    max-width: 250px;
  }

  .btnBox span {
    font-size: 14px;
  }

  .whats {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .btnBox {
    max-width: 230px;
  }

  .title {
    font-size: 8vw;
    margin-top: 5 0px;
  }
  .h2Title {
    font-size: 30px;
    letter-spacing: -0.3vw;
  }
  .useCookesText {
    font-size: 10px;
  }
}