.main {
  width: 100%;
  text-align: center;

}

.textwrap {
  display: flex;
  max-width: 90vw;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  font-size: 6.0vw;
  line-height: 1.3;
  margin-bottom: 1vw;
  text-align: center;
  margin-top: 0px;
  font-weight: 700;
  letter-spacing: -0.5vw;
}

.textspan1 {
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 20px;
  background-color: #E2D0F6;
}

.textspan2 {
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 20px;
  background-color: #B1F8DE
}




.duxgp {
  margin-top: 30,
}

.duxgplogo {
  display: block;
  margin: 30px auto;
  width: 100px;
  max-width: 100px;
}


.btnBox {
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
  position: relative;
  padding: 0.8rem 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  margin: 20px auto;
  background-image: linear-gradient(to right, #00CC83 0%, #059F68 51%, #00CC83 100%);
  padding: 0;
  border-radius: 100px;
  border: none;
  background-color: #007aff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  text-decoration: none;
  display: block;
  max-width: 250px;
}

.btnBox:hover {
  background-position: right center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-image: linear-gradient(to right, #059F68 0%, #059F68 51%, #059F68 100%);
  transform: translateY(0%);
  opacity: 1;
}

.btnBox span {
  margin: 0 auto;
  color: #fff;
  letter-spacing: -0.5px;
  font-size: 16px;
  display: block;

}

.whats {
  display: block;
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 0.5rem !important;
 
  flex-shrink: 0 !important;
  fill: currentcolor;

}

.textdesc {
  font-size: 2.8vw;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.1vw;
  color: #88888A;
}